:root {
  --dark-color: #011627;
  --pink-color: #e63946;
  --light-color: #f1faee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    "Open Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
  text-decoration: none;
}

nav ul li a.active {
  color: var(--pink-color);
}

a.btn {
  border-radius: 8px;
  padding: 8px 24px;
}

a.btn-light {
  border: 1px solid var(--dark-color);
}

a.btn-light:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
}
